
.left-btns {
    width: 90px;
    margin: 4px 0;
}
.danger {
    color: #b94a48;
}
.danger label div.label-text {
    font-weight: bold;
}
/*label:not(.required) {*/
    /*font-weight: normal;*/
/*}*/
.no-margin-bottom {
    margin-bottom: 0 !important;
}
.italics {
    font-style: italic;
}
.status-dates dl > dt {
    width: 120px;
}
.status-dates dl > dd {
    margin-left: 130px;
    min-width: 130px;
}

.bordered {
    border: 1px solid #ddd;
}
.small-pad {
    padding: 4px;
}

.box.box-bordered-default {
    border: 1.5px solid rgb(210, 214, 222);
}
#listable-table-sl_list_all > thead > tr > th:nth-child(2),
#listable-table-sl_list_all > tbody > tr > td:nth-child(2),
#listable-table-sl_list_by_status > thead > tr > th:nth-child(2),
#listable-table-sl_list_by_status > tbody > tr > td:nth-child(2),
#listable-table-sl_list_review_required > tbody > tr > td:nth-child(2),
#listable-table-sl_list_review_required > tbody > tr > td:nth-child(2) {
    width: 50px;
}
#listable-table-vendor_list > thead > tr > th:nth-child(2) {
    width: 50px;
    max-width: 50px;
}
#listable-table-vendor_list > thead > tr > th:nth-child(3) {
    width: 150px;
    max-width: 150px;
}
#listable-table-unit_list > thead > tr > th:nth-child(2) {
    width: 50px;
}
#listable-table-suppliers_list > thead > tr > th:nth-child(2) {
    width: 75px;
}
#listable-table-rtsqa_list_all > thead > tr > th:nth-child(1),
#listable-table-rtsqa_list_incomplete > thead > tr > th:nth-child(1),
#listable-table-rtsqa_list_unreviewed > thead > tr > th:nth-child(1) {
    width: 160px;
}

/*QA Status Spans                                 */
.no_tol {
    background-color:#00c0ef;
}
.ok {
    background-color: #00a65a;
}
.action {
    background-color: #dd4b39;
}
.tolerance {
    background-color: #f39c12;
}
.not_done {
    background-color: #b5bbc8;
}
#tli_initiated_display {
    margin-top: 5px;
}
.autosize {
    resize: none;
}
body.sidebar-mini.sidebar-collapse > div.wrapper > aside.main-sidebar > section.sidebar > ul.sidebar-menu > li.header {
    display: list-item !important;
}
body.sidebar-mini.sidebar-collapse > div.wrapper > aside.main-sidebar > section.sidebar > ul.sidebar-menu > li.header > span {
    opacity: 0;
}
.smooth-border {
    border-width: 2px;
    border-radius: 2px;
    color: black;
    border-style: solid;
}
.label.disabled {
    opacity: 0.2;
}
.dash-change {
    font-size: small;
    font-style: italic;
    margin-left: 20px;
}

.timeline-custom > li > .timeline-item.deleted * {
    color: #bbb;
}
.timeline-custom > li > .timeline-item.deleted .label {
    background-color: #edf1f9;
}
.timeline-custom > li > .timeline-item.can-view {
    cursor: pointer;
}
.timeline-custom > li > .timeline-item.can-view:hover {
    background-color: rgba(207, 213, 221, 0.6);
}
.dash-change > div {
    display: inline-block;
}
.dash-change.title > div {
    font-weight: 600;
    font-style: normal;
}
.dash-change.item {
    border-bottom: 1px solid transparent;
}
.dash-change.item.hover:hover {
    border-bottom: 1px solid rgba(192, 198, 206, 0.6);
}
.timeline-header span.label.smooth-border {
    font-size: 10px;
    padding: 2px 6px 2px 6px;
}
.timeline-header .deleted .tli-name {
    text-decoration: line-through;
}
.timeline-filters i {
    background-color: #fff;
    border: 1px solid #ddd;
}
.timeline .complete,
.timeline .incomplete,
.timeline .del {
    width: 90px;
    display: inline-block;
    padding: 0 5px;
}
.timeline .complete {
    color: #00a65a;
    font-weight: 700;
}

#attach-table {
    margin-bottom: 0;
}
h3.has-error {
    color: #dd4b39;
}